<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="text-secondary text-uppercase">Müşteri Yorumları</h6>
            <h1 class="mb-5">Müşterilerimiz Ne Diyor!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item text-center">
                <div class="testimonial-text bg-light text-center p-4 mb-4">
                    <p class="mb-0">Çok memnun kaldım! Hizmet harikaydı ve çalışanlar çok profesyoneldi. Her şey mükemmeldi!</p>
                </div>
                <img class="bg-light rounded-circle p-2 mx-auto mb-2" src="img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                <div class="mb-2">
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                </div>
                <h5 class="mb-1">Ahmet Yılmaz</h5>
                <p class="m-0">Mühendis</p>
            </div>
            <div class="testimonial-item text-center">
                <div class="testimonial-text bg-light text-center p-4 mb-4">
                    <p class="mb-0">Hizmet kalitesi gerçekten çok iyi. İhtiyaçlarımızı hızlıca çözerek bizi mutlu ettiler.</p>
                </div>
                <img class="bg-light rounded-circle p-2 mx-auto mb-2" src="img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                <div class="mb-2">
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                </div>
                <h5 class="mb-1">Mehmet Can</h5>
                <p class="m-0">İşletme Sahibi</p>
            </div>
            <div class="testimonial-item text-center">
                <div class="testimonial-text bg-light text-center p-4 mb-4">
                    <p class="mb-0">Her yönüyle profesyonel bir hizmet aldık. Beklentilerimizi karşıladılar ve her şey çok iyi gitti.</p>
                </div>
                <img class="bg-light rounded-circle p-2 mx-auto mb-2" src="img/testimonial-3.jpg" style="width: 80px; height: 80px;">
                <div class="mb-2">
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                </div>
                <h5 class="mb-1">Elif Demir</h5>
                <p class="m-0">Yönetici</p>
            </div>
            <div class="testimonial-item text-center">
                <div class="testimonial-text bg-light text-center p-4 mb-4">
                    <p class="mb-0">Çok hızlı ve etkili çözüm sundular. Gerçekten teşekkür ediyorum. Hizmetlerinden çok memnun kaldım.</p>
                </div>
                <img class="bg-light rounded-circle p-2 mx-auto mb-2" src="img/testimonial-4.jpg" style="width: 80px; height: 80px;">
                <div class="mb-2">
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                </div>
                <h5 class="mb-1">Büşra Arslan</h5>
                <p class="m-0">Müşteri</p>
            </div>
        </div>
    </div>
</div>