@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
    <div>
        <h3 class="fw-bold mb-3">Dashboard</h3>
        <h6 class="op-7 mb-2">Akço Usta Admin Paneline Hoşgeldiniz !</h6>
    </div>
    <div class="ms-md-auto py-2 py-md-0">
        <a href="#" class="btn btn-primary btn-round" data-bs-toggle="modal" data-bs-target="#registerModal">Kullanıcı Ekle</a>
    </div>
</div>
<!-- Modal -->
@await Component.InvokeAsync("_UserRegisterModalComponentPartial")

@await Component.InvokeAsync("_DashboardCountStatisticsComponentPartial")
@await Component.InvokeAsync("_DashboardServiceStatisticsComponentPartial")
<div class="row">
    <div class="col-md-4">
        <div class="card card-round">
            <div class="card-body">
                <div class="card-head-row card-tools-still-right">
                    <div class="card-title">Kullanıcılar</div>
                </div>
                <div class="card-list py-4">
                    <div class="item-list">
                        <div class="avatar">
                            <img src="~/Admin/assets/img/jm_denis.jpg"
                                 alt="..."
                                 class="avatar-img rounded-circle" />
                        </div>
                        <div class="info-user ms-3">
                            <div class="username">Rıza Çalımbay</div>
                            <div class="status">rizacalimbay@gmail.com</div>
                        </div>
                        <button class="btn btn-icon btn-link op-8 me-1">
                            <i class="far fa-envelope"></i>
                        </button>
                        <button class="btn btn-icon btn-link btn-danger op-8">
                            <i class="fas fa-ban"></i>
                        </button>
                    </div>
                    <div class="item-list">
                        <div class="avatar">
                            <span class="avatar-title rounded-circle border border-white">AY</span>
                        </div>
                        <div class="info-user ms-3">
                            <div class="username">Aziz Yıldırım</div>
                            <div class="status">BAŞKAN</div>
                        </div>
                        <button class="btn btn-icon btn-link op-8 me-1">
                            <i class="far fa-envelope"></i>
                        </button>
                        <button class="btn btn-icon btn-link btn-danger op-8">
                            <i class="fas fa-ban"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("_DashboardLatestContactsComponentPartial")
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
        @if (TempData["NotifyMessage"] != null)
        {
            <text>
                                $.notify({
                                    // İçerik
                                    icon: 'fa fa-bell',
                                    title: '@TempData["NotifyTitle"]',
                                    message: '@TempData["NotifyMessage"]'
                                },
                                {
                                    // Ayarlar
                                    type: '@TempData["NotifyType"]',
                                    allow_dismiss: true,
                                    newest_on_top: true,
                                    placement: {
                                        from: "bottom",
                                        align: "right"
                                    },
                                    delay: 2500,
                                    timer: 500,
                                    animate: {
                                        enter: 'animated fadeInDown',
                                        exit: 'animated fadeOutUp'
                                    },
                                    offset: {
                                        x: 30,
                                        y: 30
                                    }
                                });
            </text>
        }
        });
    </script>
}
