<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="/A_Home/Index" class="logo">
                <img src="~/Admin/assets/img/kaiadmin/logo_light.svg"
                     alt="navbar brand"
                     class="navbar-brand"
                     height="20" />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item">
                    <a href="/A_Home/Index">
                        <i class="fas fa-home"></i>
                        <p>Ana Sayfa</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Veri İşlemleri</h4>
                </li>
                <li class="nav-item">
                    <a href="/A_About/Index">
                        <i class="fas fa-layer-group"></i>
                        <p>Hakkımızda</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/A_BuisnessData/Index">
                        <i class="fas fa-layer-group"></i>
                        <p>İş Verileri</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/A_Service/Index">
                        <i class="fas fa-layer-group"></i>
                        <p>Hizmetler</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/A_ServiceRandevu/Index">
                        <i class="fas fa-layer-group"></i>
                        <p>Randevular</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/A_Technician/Index">
                        <i class="fas fa-layer-group"></i>
                        <p>Ustalar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/A_Testimonial/Index">
                        <i class="fas fa-layer-group"></i>
                        <p>Referanslar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/#/Index">
                        <i class="fas fa-layer-group"></i>
                        <p>Raporlar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/#/EmailSubscribeList">
                        <i class="fas fa-desktop"></i>
                        <p>Onay bekleyen randevular</p>
                        <span class="badge badge-success">1</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>