@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 py-5">
    <div class="container">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Hakkımızda</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a class="text-white" href="/Home/Index">Ana Sayfa</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Hakkımızda</a></li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- Page Start -->

<!-- Service Start -->
@await Component.InvokeAsync("_HomepageServiceComponentPartial")
<!-- Service End -->
<!-- About Start -->
@await Component.InvokeAsync("_AboutComponentPartial")
<!-- About End -->

<!-- Fact Start -->
@await Component.InvokeAsync("_FactComponentPartial")
<!-- Fact End -->

<!-- Team Start -->
@await Component.InvokeAsync("_TeamComponentPartial")
<!-- Team End -->

<!-- Page End -->

