<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Adres</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Akçakoca, Düzce, Türkiye</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+0123 456 7899</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>akcausta@gmail.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Çalışma Saatleri</h4>
                <h6 class="text-light">Pazartesi - Cuma:</h6>
                <p class="mb-4">09.00 - 21.00</p>
                <h6 class="text-light">Cumartesi - Pazar:</h6>
                <p class="mb-0">09.00 - 12.00</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Hizmetlerimiz</h4>
                <a class="btn btn-link" href="">Gider Temizliği</a>
                <a class="btn btn-link" href="">Kanalizasyon Hattı</a>
                <a class="btn btn-link" href="">Su Isıtma Sistemleri</a>
                <a class="btn btn-link" href="">Tuvalet Temizliği</a>
                <a class="btn btn-link" href="">Kırık Boru Onarımı</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Bülten Aboneliği</h4>
                <p>Güncel haberler ve kampanyalardan haberdar olmak için abone olun.</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="E-posta adresiniz">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Abone Ol</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">AkcoUSTA</a>, Tüm Hakları Saklıdır.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    Tasarım: <a class="border-bottom" href="#">Ufuk YAVUZ</a> | Dağıtım: <a href="#">Akçakoca MYO</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top"><i class="bi bi-arrow-up"></i></a>